$themeWhite : rgb(240, 245, 245); 
$themePureWhite : white;
$navBgBlack : rgba(172, 166, 166, 0.082);
$themeYellow : rgb(241, 208, 19);
$themePureYellow : yellow;
$themeBlue : rgb(7, 93, 206);
$themeRed : rgba(247, 37, 9, 0.76); 
$themeGreen : rgb(85, 250, 8);
$themeBlack :rgb(26, 35, 37);
$themePureBlack : black;
